<h1>Contact show</h1>
  <p>
    company:  <%= link_to @contact.company.name, company_path(@contact.company_id) %>
  </p>
  <p id='full-name'>
    full_name:   <%= @contact.first_name %> <%= @contact.last_name %>
  </p>
<!--   <p>
    role:  <%#= @contact.role %>
  </p>
  <p>
    about:   <%#= @contact.about %>
  </p>
  <p>
    email:  <%#= @contact.email %>
  </p>
  <p>
    phone:  <%#= @contact.phone %>
  </p>  
  <p>
    linkedin:  <%#= @contact.linkedin %>
  </p>
  <p>
    twitter:  <%#= @contact.twitter %>
  </p>
  <p>
    blog:  <%#= @contact.blog %>
  </p>
   <p>
    website:  <%#= @contact.website %>
  </p -->