<h1>Companies#index</h1>
<table>
  <th>
    <tr>
      <td>Name</td>
    </tr>
  </th>
<% @companies.each do |company| %>
  <tr>
    <td><%= link_to company.name, company.url %></td>
    <td>HR contact: </td>
    <td>
  </tr>
<% end %>
</table>
